.paragraph-text {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 50px;
  color: red;
  font-family: 'Courier New', monospace;
  text-align: center;
  display: flex;
  justify-content: center;
}

.cheater-form {
  padding-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}