.form-parent {
  padding-top: 50px;
  text-align: center;
  overflow: auto;
}

.word-counter {
  padding-left: 5px;
  color: red;
  font-family: 'Courier New', monospace;
}

.Form {
  margin: 8px 0;
}

