.hint-parent{
  padding-top: 30px;
  text-align: center;
  margin: 0 auto;
}

.hover-zoom {
  width: 150px;
}
  
.hover-zoom img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}
  
.hover-zoom:hover img {
    transform: scale(1.25);
}

.fade-in-text {
    color: red;
    animation: fadeIn 1s;
    font-family: 'Courier New', monospace;
    white-space: pre-line;
    text-align: center;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.fade-out-text {
    color: red;
    animation: fadeOut 1s;
    font-family: 'Courier New', monospace;
    text-align: center;
  }

  @keyframes fadeOut {
    100% {opacity: 1; } 
    0% {opacity: 0; }
  } 

.hint-image {
  width: 750px;
  height: 450px;
}